.custom-spinner {
  animation: spin 4s linear infinite; /* Imposta la durata dell'animazione a 2 secondi per renderla più lenta */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}






